<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/nouislider.min.css">
    <link rel="stylesheet" href="css/select2.min.css">
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Favicons -->
    <link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="icon/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Dmitry Volkov">
    <title>主页</title>
   <!-- <base th:href="|${#request.getContextPath()}/|"/>-->
</head>

<body>
<!-- header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-9 col-lg-8 col-xl-9">
                <div class="header__content">
                    <!-- header menu btn -->
                    <button class="header__btn" type="button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <!-- end header menu btn -->

                    <!-- header logo -->
                    <a href="HRindex.html" class="header__logo">
                        <img src="img/logo.svg" alt="">
                    </a>
                    <!-- end header logo -->

                    <!-- header nav -->
                    <ul class="header__nav">
                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a href="/findchr" class="header__nav-link">主页</a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenu专案" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">工作</a>

                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenu专案">

                                <li><a href="/addjob">发布工作</a></li>
                            </ul>
                        </li>
                        <!-- end dropdown -->



                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenu个人资料" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">求职者</a>

                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenu个人资料">
                                <li><a href="profiles.html">所有求职者</a></li>

                            </ul>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenu个人资" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">面试通知</a>

                            <ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenu个人资料">
                                <li><a href="interviewNotice.html">查看面试通知</a></li>

                            </ul>
                        </li>
                        <!-- end dropdown -->

                    </ul>
                    <!-- end header nav -->


                </div>
            </div>

            <div class="col-5 col-md-3 col-lg-4 col-xl-3">
                <div class="header__content header__content--end">
                    <a href="messages.html" class="header__messages header__messages--active">
                        <i class="icon ion-ios-mail"></i>
                    </a>



                    <div class="header__profile">
                        <a class="dropdown-toggle header__profile-btn" href="#" role="button" id="dropdownMenuProfile" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="img/user5.jpg" alt="">
                            <span>John Doe</span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- end header -->

<!-- main content -->
<main class="main main--breadcrumb">
    <!-- breadcrumb -->
    <div class="breadcrumb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <ul class="breadcrumb__wrap">
                        <li class="breadcrumb__item"><a href="#">Home</a></li>
                        <li class="breadcrumb__item breadcrumb__item--active">Themeforest</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb -->

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                <!-- user -->
                <div class="user">
                    <div class="user__head">
                        <div class="user__img">
                            <img src="img/company.svg" alt="">
                        </div>
                    </div>
                    <div class="user__title">

                        <h2 th:each="cstr:${onelist}"><span th:text="${cstr.company.name}"></span></h2>
                        <p3 th:each="cstr:${onelist}"> <span th:text="${cstr.company.type}"></span> </p3>

                        <div class="profile__actions">
                            <div class="post__location_company">
                                <i class="icon ion-ios-navigate"></i>
                                <p3 th:each="cstr:${onelist}"> <span th:text="${cstr.company.address}"></span> </p3>
                            </div>

                            <!--<div class="post__actions_company">
                                <a class="post__actions-btn post__actions-btn&#45;&#45;red" href="#">
                                    <i class="icon ion-ios-mail"> </i>
                                </a>
                            </div>-->
                        </div>
                    </div>
                    <div class="sidebox">
                        <div class="sidebox__share">
                            <span>hr信息</span>

                        </div>

                        <p3 th:each="cstr:${onelist}">姓名： <span th:text="${cstr.hr.name}"></span> </p3>
                        <br>
                        <p3 th:each="cstr:${onelist}">电话： <span th:text="${cstr.hr.phone}"></span> </p3>
                        <br>
                        <p3 th:each="cstr:${onelist}">邮箱： <span th:text="${cstr.hr.email}"></span> </p3>
                    </div>
                </div>
                <!-- end user -->

            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-8">

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">

                    </div>

                    <div class="tab-pane fade show active" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <!-- box -->
                        <div class="main__box">
                            <h3 class="main__box-title">公司详细介绍</h3>
                            <p2 class="main__box-text">&nbsp;<p2 th:each="cstr:${onelist}"><span th:text="${cstr.company.introduce}"></span> </p2></p2>
                            <br>
                            <br>

                            <!--<h4>&nbsp;&nbsp;&nbsp;&nbsp;公司优势</h4>
                            <ul class="main__box-list">
                                <li>相对较高的薪水</li>
                                <li>公平的竞争环境</li>
                                <li>占地面广，视野开阔</li>
                                <li>保持新鲜和年轻</li>
                                <li>可以不断提升自己的能力</li>
                                <li>有高成就感</li>

                            </ul>-->

                        </div>
                        <!-- end box -->

                        <!-- box -->
                        <div class="main__box">
                            <h3 class="main__box-title">规模</h3>
                            <p4 class="main__box-text"><p3 th:each="cstr:${onelist}"><span th:text="${cstr.company.scale}"></span> </p3></p4>
                        </div>
                        <!-- end box -->

                        <!-- box
                        <div class="main__box">
                            <h3 class="main__box-title">地址</h3>
                            <p3 class="main__box-text">观日路2号</p3>
                        </div>
                         end box -->
                    </div>

                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                        <!-- form -->
                        <form action="#" class="form">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="form__title">Profile details</h2>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <label for="login" class="form__label">Login:</label>
                                        <input name="login" id="login" type="text" class="form__input" placeholder="Login">
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <label for="email" class="form__label">Email:</label>
                                        <input name="email" id="email" type="text" class="form__input" placeholder="email@email.com">
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <label for="firstname" class="form__label">First name:</label>
                                        <input name="firstname" id="firstname" type="text" class="form__input" placeholder="John">
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <label for="lastname" class="form__label">Last name:</label>
                                        <input name="lastname" id="lastname" type="text" class="form__input" placeholder="Doe">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="form__btn" type="button"><span>Save</span></button>
                                </div>
                            </div>
                        </form>
                        <!-- end form -->

                        <!-- form -->
                        <form action="#" class="form">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="form__title">Change password</h2>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <label for="oldpass" class="form__label">Old password:</label>
                                        <input name="oldpass" id="oldpass" type="password" class="form__input">
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <label for="newpass" class="form__label">New Password:</label>
                                        <input name="newpass" id="newpass" type="password" class="form__input">
                                    </div>
                                </div>

                                <div class="col-12 col-lg-6">
                                    <div class="form__group">
                                        <label for="confirmpass" class="form__label">Confirm New Password:</label>
                                        <input name="confirmpass" id="confirmpass" type="password" class="form__input">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <button class="form__btn" type="button"><span>Change</span></button>
                                </div>
                            </div>
                        </form>
                        <!-- end form -->
                    </div>
                </div>
            </div>


        </div>
    </div>
</main>
<!-- end main content -->




<!-- JS -->
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/wNumb.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/jquery.mousewheel.min.js"></script>
<script src="js/jquery.mCustomScrollbar.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
