<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/nouislider.min.css">
		<link rel="stylesheet" href="css/select2.min.css">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
		<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Dmitry Volkov">

		<title>iJ – Job Board & Freelance Services Marketplace HTML Template</title>
	</head>

	<body>
		<!-- header -->
		<header class="header">
			<div class="container">
				<div class="row">
					<div class="col-7 col-md-9 col-lg-8 col-xl-9">
						<div class="header__content">
							<!-- header menu btn -->
							<button class="header__btn" type="button">
								<span></span>
								<span></span>
								<span></span>
							</button>
							<!-- end header menu btn -->

							<!-- header logo -->
							<a href="index.html" class="header__logo">
								<img src="img/logo.svg" alt="">
							</a>
							<!-- end header logo -->

							<!-- header nav -->
							<ul class="header__nav">
								<!-- dropdown -->
								<li class="header__nav-item">
									<a href="index.html" class="header__nav-link">Home</a>
								</li>
								<!-- end dropdown -->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuProjects" data-toggle="dropdown"
									 aria-haspopup="true" aria-expanded="false">Projects</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuProjects">
										<li><a href="projects.html">Projects</a></li>
										<li><a href="project.html">Single project</a></li>
										<li><a href="add-project.html">Post a project</a></li>
									</ul>
								</li>
								<!-- end dropdown -->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuJobs" data-toggle="dropdown"
									 aria-haspopup="true" aria-expanded="false">Jobs</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuJobs">
										<li><a href="jobs.html">Jobs</a></li>
										<li><a href="job.html">Single job</a></li>
										<li><a href="add-job.html">Post a job</a></li>
									</ul>
								</li>
								<!-- end dropdown -->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuCompanies" data-toggle="dropdown"
									 aria-haspopup="true" aria-expanded="false">Companies</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuCompanies">
										<li><a href="companies.html">Companies</a></li>
										<li><a href="company.html">Company profile</a></li>
									</ul>
								</li>
								<!-- end dropdown -->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuProfiles" data-toggle="dropdown"
									 aria-haspopup="true" aria-expanded="false">Profiles</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuProfiles">
										<li><a href="profiles.html">Profiles</a></li>
										<li><a href="profile.html">Profile</a></li>
									</ul>
								</li>
								<!-- end dropdown -->

								<!-- dropdown -->
								<li class="header__nav-item">
									<a class="dropdown-toggle header__nav-link" href="#" role="button" id="dropdownMenuPages" data-toggle="dropdown"
									 aria-haspopup="true" aria-expanded="false">Pages</a>

									<ul class="dropdown-menu header__dropdown-menu" aria-labelledby="dropdownMenuPages">
										<li><a href="messages.html">Messages</a></li>
										<li><a href="faq.html">Help Center</a></li>
										<li><a href="contacts.html">Contacts</a></li>
										<li><a href="privacy.html">Privacy Policy</a></li>
										<li><a href="signin.html">Sign In</a></li>
										<li><a href="signup.html">Sign Up</a></li>
										<li><a href="forgot.html">Forgot password</a></li>
									</ul>
								</li>
								<!-- end dropdown -->
							</ul>
							<!-- end header nav -->

							<!-- header search -->
							<form action="#" class="header__search">
								<input class="header__search-input" type="text" placeholder="Search...">
								<button class="header__search-button" type="button">
									<i class="icon ion-ios-search"></i>
								</button>
							</form>
							<!-- end header search -->
						</div>
					</div>

					<div class="col-5 col-md-3 col-lg-4 col-xl-3">
						<div class="header__content header__content--end">
							<a href="messages.html" class="header__messages header__messages--active">
								<i class="icon ion-ios-mail"></i>
							</a>

							<div class="header__notifications">
								<a class="dropdown-toggle header__notifications-btn header__notifications-btn--active" href="#" role="button"
								 id="dropdownMenuNotifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<i class="icon ion-ios-notifications"></i>
								</a>

								<div class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right header__dropdown-menu--ntf"
								 aria-labelledby="dropdownMenuNotifications">
									<div class="header__ntf">
										<a href="#" class="header__ntf-img">
											<img src="img/user3.jpg" alt="">
										</a>
										<h6 class="header__ntf-title">
											<span>Marsha Baldwin</span> Comment on your project.
										</h6>
									</div>

									<div class="header__ntf">
										<a href="#" class="header__ntf-img">
											<img src="img/user7.jpg" alt="">
										</a>
										<h6 class="header__ntf-title">
											<span>Andy Ramos</span> Comment on your project.
										</h6>
									</div>

									<div class="header__ntf">
										<a href="#" class="header__ntf-img">
											<img src="img/user4.jpg" alt="">
										</a>
										<h6 class="header__ntf-title">
											<span>Sophia Mendoza</span> Comment on your project.
										</h6>
									</div>

									<div class="header__ntf">
										<a href="#" class="header__ntf-img">
											<img src="img/user1.jpg" alt="">
										</a>
										<h6 class="header__ntf-title">
											<span>Tony Young</span> Comment on your project.
										</h6>
									</div>

									<a href="#" class="header__ntf-more">View more</a>
								</div>
							</div>

							<div class="header__profile">
								<a class="dropdown-toggle header__profile-btn" href="#" role="button" id="dropdownMenuProfile" data-toggle="dropdown"
								 aria-haspopup="true" aria-expanded="false">
									<img src="img/user5.jpg" alt="">
									<span>John Doe</span>
								</a>

								<ul class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right"
								 aria-labelledby="dropdownMenuProfile">
									<li><a href="profile.html"><i class="icon ion-ios-settings"></i> Settings</a></li>
									<li><a href="privacy.html"><i class="icon ion-ios-lock"></i> Privacy</a></li>
									<li><a href="faq.html"><i class="icon ion-ios-help-buoy"></i> FAQ</a></li>
									<li><a href="#"><i class="icon ion-ios-exit"></i> Logout</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- end header -->

		<!-- main content -->
		<!-- main content -->
		<main class="main">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-5 col-lg-4 col-xl-2">

					</div>

					<div class="col-12 col-md-7 col-lg-8 col-xl-8">
						<center>
							<h2>收到的求职回馈</h2>
						</center>
						<br><br>

						<div th:each=" message:${list}" >
						<!-- post -->
						<div class="post">
							<div class="post__head">
								<a href="#" class="post__head-img">
									<img src="img/user8.jpg" alt="">
								</a>
								<div class="post__head-title">
									<h5><a href="#" th:text="${message.title}">面试通知</a></h5>
								</div>
								<div class="post__message" style="max-width:30vw;overflow: hidden;">
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp收到
									&nbsp&nbsp&nbsp&nbsp<p9 th:text="${message.hr.company.name}">公司名称</p9>
									&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp的回复
								</div>
								<span style="position:absolute;left: 40vw;">查看</span>
							</div>
							<div>
								<p style="position: relative;left: 34vw;">2020.01.01</p>
							</div>
						</div>
						<!-- end post -->
						</div>


					</div>

					<div class="col-12 col-md-5 col-lg-4 col-xl-2">



					</div>
				</div>
			</div>
		</main>



		<!-- JS -->
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/wNumb.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/jquery.mCustomScrollbar.min.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
