<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/nouislider.min.css">
		<link rel="stylesheet" href="css/select2.min.css">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
		<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">

		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
		<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Dmitry Volkov">
		<title>iJ – Job Board & Freelance Services Marketplace HTML Template</title>
	</head>

	<body>
		<div class="sign">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="sign__content">
							<!-- authorization form -->
							<form id="myForm" class="sign__form">

								<a href="index.html" class="sign__logo">
									<img src="img/logo.svg" alt="">
								</a>

								<div class="dropdown">
									<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
										请选择您的身份
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation">
											<a role="menuitem" tabindex="-1" href="#">求职者</a>
										</li>
										<li role="presentation">
											<a role="menuitem" tabindex="-1" href="#">hr</a>
										</li>
									</ul>
								</div>

								<div class="sign__group">
									<label for="level" class="form__label">请输入您的手机号码</label>
									<input type="text" class="sign__input" placeholder="号码" name="phone" id="phone">
								</div>
								<div class="sign__group">
									<label for="level" class="form__label">请输入密码</label>
									<input type="text" class="sign__input" placeholder="password" name="password" id="pwd">
								</div>


								<button class="sign__btn" type="button" id="submit"><span>登录</span></button>

								<span class="sign__text">还没注册？<a href="signup.html">注册！</a></span>

								<span class="sign__text"><a href="forgot.html">忘记密码？</a></span>
							</form>
							<!-- end authorization form -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- JS -->
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/wNumb.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/jquery.mCustomScrollbar.min.js"></script>
		<script src="js/main.js"></script>
	<script>
		var flag1 = false;
		var flag2=false;
		$("#phone").onchange(function(){
			var phone=document.getElementById("phone").val;
			var message = "";
			var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;
			if (phone == '') {
				message = "手机号码不能为空！";
			} else if (phone.length != 11) {
				message = "请输入11位手机号码！";
			} else if (!myreg.test(phone)) {
				message = "请输入有效的手机号码！";
			} else {
				flag1 = true;
			}
			if (message != "") {
				 alert(message);
			}
			return flag1;
		}
		$("#pwd").blur(function(){
			var pwd=document.getElementById("pwd").val;
			var message = "";
			if (pwd == '') {
				message = "密码不能为空！";
			} else {
				flag2 = true;
			}
			if (message != "") {
				alert(message);
			}
			return flag2;
		}
		$("#submit").click(function () {
			var phone=document.getElementById("phone").val;
			var pwd=document.getElementById("pwd").val;
			if(phone!=null&&phone!=""){
				$.ajax({
					type: "POST",   //提交的方法
					url:"/findHrByPhoneAndPhone", //提交的地址
					data:{phone:phone,password:pwd},
					async: false,
					error: function() {  //失败的话
						alert("用户名或密码错误");
					},
					success: function() {  //成功
						alert("登录成功");  //就将返回的数据显示出
					}
				});
			}

		});
	</script>
	</body>
</html>
