<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!-- CSS -->
		<link rel="stylesheet" href="css/bootstrap-reboot.min.css">
		<link rel="stylesheet" href="css/bootstrap-grid.min.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/nouislider.min.css">
		<link rel="stylesheet" href="css/select2.min.css">
		<link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
		<link rel="stylesheet" href="css/ionicons.min.css">
		<link rel="stylesheet" href="css/main.css">

		<!-- Favicons -->
		<link rel="icon" type="image/png" href="icon/favicon-32x32.png" sizes="32x32">
		<link rel="apple-touch-icon" href="icon/favicon-32x32.png">
		<link rel="apple-touch-icon" sizes="72x72" href="icon/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="icon/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="144x144" href="icon/apple-touch-icon-144x144.png">
		<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="Dmitry Volkov">
		<title>iJ – Job Board & Freelance Services Marketplace HTML Template</title>
	</head>

	<body>
		<div class="sign">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="sign__content">
							<!-- registration form -->
							<form id="myFormRegister" class="sign__form">
								<a href="index.html" class="sign__logo">
									<img src="img/logo.svg" alt="">
								</a>

								<div class="dropdown">
									<button type="button" class="btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown">
										请选择您的身份
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation">
											<a role="menuitem" tabindex="-1" href="#">求职者</a>
										</li>
										<li role="presentation">
											<a role="menuitem" tabindex="-1" href="#">招聘者</a>
										</li>
									</ul>
								</div>

								<div class="sign__group">
									<label for="level" class="form__label">请输入您的手机号码</label>
									<input type="text" class="sign__input" placeholder="号码" id="phone">
								</div>
								<div class="sign__group">
									<label for="level" class="form__label">请输入密码</label>
									<input type="text" class="sign__input" placeholder="password" id="password">
								</div>

								<div class="sign__group">
									<label for="level" class="form__label">请再次输入密码</label>
									<input type="password" class="sign__input" placeholder="againPassword">
								</div>



								<button class="sign__btn" type="button" id="register"><span>注册</span></button>

								<span class="sign__text">已经有账号了? <a href="/hrlogin">登入!</a></span>
							</form>
							<!-- registration form -->
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- JS -->
		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/wNumb.js"></script>
		<script src="js/nouislider.min.js"></script>
		<script src="js/select2.min.js"></script>
		<script src="js/jquery.mousewheel.min.js"></script>
		<script src="js/jquery.mCustomScrollbar.min.js"></script>
		<script src="js/main.js"></script>
		<script type="text/javascript">
			var flag1 = false;
			var flag2=false;
			$("#phone").blur(function(){
				var phone=$("#phone").val();
				console.log(phone);
				var message = "";
				var myreg = /^(((13[0-9]{1})|(14[0-9]{1})|(17[0-9]{1})|(15[0-3]{1})|(15[4-9]{1})|(18[0-9]{1})|(199))+\d{8})$/;
				if (phone == '') {
					message = "手机号码不能为空！";
				} else if (phone.length != 11) {
					message = "请输入11位手机号码！";
				} else if (!myreg.test(phone)) {
					message = "请输入有效的手机号码！";
				} else if(phone!=null){
					$.ajax({
						type: "POST",   //提交的方法
						url:"/findHrByPhone", //提交的地址
						data:{phone:phone},
						async: false,
						dataType:"json",
						success: function(data) {  //成功
							if(data.msg=="success") {
								alert("该用户已注册");
							}
							flag1=true; //就将返回的数据显示出
						}
					});
				}else {
					flag1 = true;
				}
				if (message != "") {
					alert(message);
				}
				return flag1;
			});
			$("#password").blur(function(){
				var password=$("#password").val();
				var message = "";
				if (password == '') {
					message = "密码不能为空！";
				} else {
					flag2 = true;
				}
				if (message != "") {
					alert(message);
				}
				return flag2;
			});
			$("#register").click(function () {
				var phone=$("#phone").val();
				var pwd=$("#password").val();
				if(flag1==true&&flag2==true){
					$.ajax({
						type: "POST",   //提交的方法
						url:"/register", //提交的地址
						data:{phone:phone,password:pwd},
						async: false,
						success: function(data) {  //成功
							alert("注册成功！");//就将返回的数据显示出
						}
					});
				}

			});
		</script>
	</body>
</html>
