<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>iJ – Job Board & Freelance Services Marketplace HTML Template</title>
</head>

<body>
<!-- header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-9 col-lg-8 col-xl-9">
                <div class="header__content">
                    <a href="#" class="header__logo">
                        <img src="img/logo.svg" alt="">
                    </a>
                    <ul class="header__nav">

                        <li class="header__nav-item">
                            <a class="header__nav-link" th:href="@{/index}"
                               role="button" id="dropdownMenu公司介绍">主页</a>
                        </li>

                        <li class="header__nav-item">
                            <a class="header__nav-link" href="findRecruit" role="button" id="dropdownMenu工作"
                               aria-expanded="false">查找工作</a>
                        </li>

                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link"
							   th:href="@{/myresume/}+${session.user.id}" role="button" id="dropdownMenu个人资料">个人简历</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-5 col-md-3 col-lg-4 col-xl-3">
                <div class="header__content header__content--end">
                    <a th:href="@{/message/}+${session.user.id}"  class="header__messages header__messages--active">
                        <small>最新消息</small><i class="icon ion-ios-mail"></i>
                    </a>
                    <div class="header__profile">
                        <a class="dropdown-toggle header__profile-btn" href="#" role="button" id="dropdownMenuProfile"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img  th:src="${(session.user.avatar !=null) ? session.user.avatar : '/img/user.svg'  }" alt="">
                            <span th:text="${user?.name}"></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right"
                            aria-labelledby="dropdownMenuProfile">
                            <li><a th:href="@{/logout}"><i class="icon ion-ios-exit"></i> 退出登录</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                <!-- user -->
                <div class="user">
                    <div class="user__head">
                        <div class="user__img">
                            <img  th:src="${(session.user.avatar !=null) ? session.user.avatar : '/img/user.svg'  }" alt="">                        </div>
                    </div>
                    <div class="user__title">
                        <h2>姓名:[[${session.user?.name}]]</h2>
                        <p1>意向岗位:[[${session.user?.intentionJob}]]</p1>
                    </div>
                    <div class="user__btns">
                        <a href="#" class="user__btn user__btn--blue"><span>[[${session.resume?.major}]]</span></a>
                        <a href="#" class="user__btn user__btn--orange"><span>[[${session.resume?.education}]]</span></a>
                    </div>
                    <ul class="user__stats">
                        <li>
                            <p2 th:text="${session.resume?.school}"></p2>
                        </li>
                        <li>
                            <p2 th:text="${session.resume?.birth}"></p2>
                        </li>
                    </ul>
                </div>

            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-6">
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse12">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->


                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                <!-- sidebox -->
                <div class="sidebox sidebox--desk">
                    <h4 class="sidebox__title">高薪职位</h4>
                    <div class="sidebox__content">
                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">前端开发人员</a>
                                <span>250/日</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>

                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">软件测试</a>
                                <span>$20/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>

                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">后端开发</a>
                                <span>$27/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>


                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">产品经理</a>
                                <span>$35/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>
                    </div>
                    <a href="#" class="sidebox__more">查看更多</a>
                </div>

            </div>
        </div>
    </div>
</main>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
