<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/ionicons.min.css">
    <link rel="stylesheet" href="css/main.css">
    <title>iJ – Job Board & Freelance Services Marketplace HTML Template</title>
</head>

<body>
<!-- header -->
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-7 col-md-9 col-lg-8 col-xl-9">
                <div class="header__content">
                    <a href="index.html" class="header__logo">
                        <img src="img/logo.svg" alt="">
                    </a>
                    <ul class="header__nav">
                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a href="index.html" class="header__nav-link">主页</a>
                        </li>
                        <!-- end dropdown -->

                        <!-- dropdown -->
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#" role="button"
                               id="dropdownMenu专案">专案</a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#" role="button" id="dropdownMenu工作"
                               aria-expanded="false">工作</a>
                        </li>
                        <li class="header__nav-item">
                            <a class="header__nav-link" href="#"
                               role="button" id="dropdownMenu公司介绍">公司介绍</a>
                        </li>
                        <li class="header__nav-item">
                            <a class="dropdown-toggle header__nav-link"
							   th:href="@{/myresume/1}" role="button" id="dropdownMenu个人资料">个人资料</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-5 col-md-3 col-lg-4 col-xl-3">
                <div class="header__content header__content--end">
                    <a href="messages.html" class="header__messages header__messages--active">
                        <i class="icon ion-ios-mail"></i>
                    </a>
                    <div class="header__profile">
                        <a class="dropdown-toggle header__profile-btn" href="#" role="button" id="dropdownMenuProfile"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <img src="img/user5.jpg" alt="">
                            <span th:text="${User?.name}"></span>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-right header__dropdown-menu header__dropdown-menu--right"
                            aria-labelledby="dropdownMenuProfile">
                            <li><a href="/"><i class="icon ion-ios-exit"></i> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<main class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                <!-- user -->
                <div class="user">
                    <div class="user__head">
                        <div class="user__img">
                            <img src="img/user5.jpg" alt="">
                        </div>
                    </div>
                    <div class="user__title">
                        <h2>姓名:[[${user?.name}]]</h2>
                        <p1>意向岗位[[${user?.intentionJob}]]</p1>
                    </div>
                    <div class="user__btns">
                        <a href="#" class="user__btn user__btn--blue"><span>联系电话</span></a>
                        <a href="#" class="user__btn user__btn--orange"><span>12345678910</span></a>
                    </div>
                    <ul class="user__stats">
                        <li>
                            <p2>学历</p2>
                        </li>

                        <li>
                            <p2>男</p2>
                        </li>
                        <li>
                            <p2>20岁</p2>
                        </li>
                    </ul>
                    <a href="profile.html" class="sidebox__more">View profile</a>
                </div>
                <!-- end user -->

                <!-- sidebox -->
                <div class="sidebox">
                    <h4 class="sidebox__title">建议</h4>
                    <div class="sidebox__content">
                        <div class="sidebox__user">
                            <a href="#" class="sidebox__user-img">
                                <img src="img/user7.jpg" alt="">
                            </a>
                            <div class="sidebox__user-title">
                                <h5><a href="#">Andy Ramos</a></h5>
                                <p>Secretary</p>
                            </div>
                            <button class="sidebox__user-btn" type="button">
                                <i class="icon ion-ios-add"></i>
                            </button>
                        </div>

                        <div class="sidebox__user">
                            <a href="#" class="sidebox__user-img">
                                <img src="img/user1.jpg" alt="">
                            </a>
                            <div class="sidebox__user-title">
                                <h5><a href="#">Tony Young</a></h5>
                                <p>Herbalist</p>
                            </div>
                            <button class="sidebox__user-btn" type="button">
                                <i class="icon ion-ios-add"></i>
                            </button>
                        </div>

                        <div class="sidebox__user">
                            <a href="#" class="sidebox__user-img">
                                <img src="img/user2.jpg" alt="">
                            </a>
                            <div class="sidebox__user-title">
                                <h5><a href="#">Santiago Robinson</a></h5>
                                <p>Fashion designer</p>
                            </div>
                            <button class="sidebox__user-btn" type="button">
                                <i class="icon ion-ios-add"></i>
                            </button>
                        </div>

                        <div class="sidebox__user">
                            <a href="#" class="sidebox__user-img">
                                <img src="img/user3.jpg" alt="">
                            </a>
                            <div class="sidebox__user-title">
                                <h5><a href="#">Sophia Mendoza</a></h5>
                                <p>Teaching assistant</p>
                            </div>
                            <button class="sidebox__user-btn" type="button">
                                <i class="icon ion-ios-add"></i>
                            </button>
                        </div>

                        <div class="sidebox__user">
                            <a href="#" class="sidebox__user-img">
                                <img src="img/user4.jpg" alt="">
                            </a>
                            <div class="sidebox__user-title">
                                <h5><a href="#">Marsha Baldwin</a></h5>
                                <p>Gardener</p>
                            </div>
                            <button class="sidebox__user-btn" type="button">
                                <i class="icon ion-ios-add"></i>
                            </button>
                        </div>
                    </div>
                    <a href="#" class="sidebox__more">查看更多</a>
                </div>
                <!-- end sidebox -->
            </div>

            <div class="col-12 col-md-7 col-lg-8 col-xl-6">
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse12">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->


                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->
                <!-- post -->
                <div class="post">
                    <div class="post__head">
                        <a href="#" class="post__head-img">
                            <img src="img/user8.jpg" alt="">
                        </a>
                        <div class="post__head-title">
                            <h5><a href="#">公司名称</a></h5>
                        </div>

                        <div class="post__xueli">
                            <span>学历</span>
                        </div>

                        <div class="post__location">
                            <i class="icon ion-ios-navigate"></i>
                            <span>地址</span>
                        </div>

                        <div class="post__actions">

                            <a class="post__actions-btn post__actions-btn--red" href="#">
                                <i class="icon ion-ios-mail"></i>
                            </a>
                        </div>

                    </div>

                    <div class="post__options">
                        <span>招聘职位</span>
                        <p>薪资范围</p>
                        <p> 更新时间</p>
                    </div>


                    <div class="collapse post__collapse" id="collapse1">
                        <form action="#" class="post__form">
                            <input type="text" placeholder="Type your comment...">
                            <button type="button"><i class="icon ion-ios-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <!-- end post -->


            </div>

            <div class="col-12 col-md-5 col-lg-4 col-xl-3">
                <!-- sidebox -->
                <div class="sidebox sidebox--desk">
                    <h4 class="sidebox__title">高薪职位</h4>
                    <div class="sidebox__content">
                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">前端开发人员</a>
                                <span>250/日</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>

                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">软件测试</a>
                                <span>$20/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>

                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">后端开发</a>
                                <span>$27/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>


                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">产品经理</a>
                                <span>$35/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>
                    </div>
                    <a href="#" class="sidebox__more">查看更多</a>
                </div>
                <!-- end sidebox -->

                <!-- sidebox -->
                <div class="sidebox sidebox--desk">
                    <h4 class="sidebox__title">本周浏览榜</h4>
                    <div class="sidebox__content">
                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">UI/UX Designer</a>
                                <span>$20/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>

                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">Back-end Developer</a>
                                <span>$27/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>

                        <div class="sidebox__job">
                            <div class="sidebox__job-title">
                                <a href="#">Senior Java Developer</a>
                                <span>$35/hr</span>
                            </div>
                            <p class="sidebox__job-description">The generated Lorem Ipsum is therefore always free from
                                repetition.
                            </p>
                        </div>
                    </div>
                    <a href="#" class="sidebox__more">查看更多</a>
                </div>
            </div>
        </div>
    </div>
</main>

<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
